extends ../layout

block content

  - var active_tab = {post_list: 'active'}
  include sub_navi.jade

  include tags_line.jade

  table.table.table-striped.table-hover
    thead
      th Дата
      th(colspan="3")
        | Запись
        a.btn.btn-default.btn-xs.pull-right(href="/adm/post-new/") Добавить запись
    tbody
    - each post in posts
      - if (post.visible == 1) { trClass = ''} else {trClass = 'warning'}
      tr(class=trClass)
        td.span3
          ul(class="post-meta")
            li
              i(class="icon-calendar")
              = dateformat(post.post_date," dd.mm.yyyy hh:mm:ss")
        td
          a(href="/adm/edit-post/#{post.blog_id}/", title="Редактировать") #{post.header || '- нет -'}
          | &nbsp;
          a.btn.btn-success.btn-xs.pull-right(href="/post/#{post.blog_id}/", target="_blank", title="Предпросмотр")
            i.icon-arrow-right
        td
          - var linkTitle = (post.visible == 1) ? 'Сделать невидимым': 'Сделать видимым';
          - var linkIcon = (post.visible == 1) ? 'icon-eye-open': 'icon-eye-close';
          a.btn.btn-default.btn-xs.pull-left(href="/adm/post-visible/#{post.blog_id}/", title=linkTitle)
            i(class=linkIcon)
        td
          - if (post.comments_cnt > 0)
            span.label.label-success.m-l10 + #{post.comments_cnt}

