extends layout

block content

    include tags_line

    include pager

    - each post in posts
        div.post
          h1
            a(href="/post/#{post.blog_id}/", title="Открыть") #{post.header}

          ul(class="post-meta")
            li
              i(class="icon-calendar")
              &nbsp;
              = dateformat(post.post_date,"dddd, d mmmm yyyy")
            - if (post.comments_cnt > 0) {
              li
                span.label.label-success
                  + #{post.comments_cnt}
            - }

          div(class="m-t10")
            !{post.text}

          div
          - if (post.tags.length>0)
              - mytags = []
              - each tag, i in post.tags
                  - mytags.push('<a href="/tag/' + tag.tag_id + '/">' + tag.tag_name + '</a>')
              - mytags = mytags.join(', ')
              Теги: !{mytags}

    include pager
