extends layout

block content

  div.post
    h2= post.header

    ul(class="post-meta")
     li
       i(class="icon-calendar")
       &nbsp;
       = dateformat(post.post_date,"dddd, d mmmm yyyy")
     - if (post.comments_cnt > 0) {
       li
         span.label.label-success
           + #{post.comments_cnt}
     - }

    div(class="m-t10") !{post.text}

    div
      - if (tags.length>0)
        - mytags = []
        - each tag, i in tags
          - mytags.push('<a href="/tag/' + tag.tag_id + '/">' + tag.tag_name + '</a>')
        - mytags = mytags.join(', ')
        Теги: !{mytags}

    div.social
      div(class="fb-like", data-send="true", data-layout="button_count",
        data-width="450", data-show-faces="true", data-font="verdana", style="float: left;")
      div(style="float: left;")
        &nbsp;
        a(href="https://twitter.com/share", class="twitter-share-button",
          data-via="twitterapi", data-lang="ru") Tweet
      div(class="clearfix")

  div.post
    h2 Комментарии
    if (comments.length == 0)
      p Пока комментариев совсем нет
    else
      for comment in comments
        div.comment
          div.comment-user
            a(href="#"+comment.user_id) #{comment.name}
            &nbsp; / &nbsp;
            em
              = dateformat(comment.pub_date,"dddd, d mmmm yyyy, HH:MM")
            &nbsp; / &nbsp;
            b
              ##{comment.comment_id}
            if (comment.user_id == userInfo.user_id || userInfo.role == 'admin')
              &nbsp;&nbsp;
              span.label.label-important.site-a-label
                a(href="#myModal",
                  rel="/delcomment/" + comment.comment_id,
                  class="no-dec del-comment",
                  title="Удалить комментарий",
                  data-toggle="modal") удалить
          div.comment-text
            != filterComment(comment.text)

    h4 Написать комментарий
    if (userInfo.auth == 1)
      form(method="post", action="/comment")
        input(type="hidden", name="post_id", value=post.blog_id)
        textarea(name="text", rows="7", cols="80", class="input-xxlarge")
        br
        button(type="submit", class="btn") Комментировать
    else
      div.p-t10
        Чтобы оставить комментарий, нужно пройти авторизацию
        div.m-b10
        span.h-list
          a(href="/auth/facebook", title="facebook", class="social-icon-link")
            i(class="icon-facebook-sign icon-2x")
          a(href="/auth/twitter", title="twitter", class="social-icon-link")
            i(class="icon-twitter-sign icon-2x")
          a(href="/auth/github", title="github", class="social-icon-link")
            i(class="icon-github icon-2x")

  include includes/social.html

  <!-- Modal -->
  div(id="myModal", class="modal hide fade", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div(class="modal-header")
      button(type="button", class="close", data-dismiss="modal", aria-hidden="true") ×
      h3(id="myModalLabel") Требуется подтверждение
    div(class="modal-body")
      p Вы действительно хотите удалить комментарий?
    div(class="modal-footer")
      button(class="btn", data-dismiss="modal", aria-hidden="true") Отмена
      a(href="#", id="del-link", class="btn btn-danger") Удалить

  script(type="text/javascript").
    $(".del-comment").click(function(){
      $("#del-link").prop('href', $(this).prop('rel'));
    });
