extends layout

block content

    include tags_line

    include pager

    - each post, index in posts
        div.post
          h1
            a(href="/post/#{post.blog_id}/", title="Открыть") #{post.header}

          ul(class="post-meta")
            li 
              i(class="icon-calendar")
              = dateformat(post.post_date," dddd, d mmmm yyyy")
            - if (post.comments_cnt > 0) {
              li
                span.label.label-success + #{post.comments_cnt}
            - }

          div(class="m-t10") !{post.text}

          div
          - if (post.tags.length>0)
            - each tag in post.tags
                span.label.label-default.site-a-label
                  a(href="/tag/" + tag.tag_id + "/") #{tag.tag_name}
    include pager

