extends layout

block content

    div.post
        h1= post.header

        ul(class="post-meta")
            li
                i(class="icon-calendar")
                = moment(post.post_date).format(" DD MMMM YYYY, dddd")
            if (post.comments_cnt > 0)
                li
                    span.label.label-success + #{post.comments_cnt}

        div(class="m-t10") !{post.text}

        div
            if (tags.length > 0)
                each tag in tags
                    span.label.label-default.site-a-label
                        a(href="/tag/" + tag.tag_id + "/") #{tag.tag_name}

    div.post
        h3 Comments
        if (comments.length == 0)
            p No comments for now
        else
            for comment in comments
                div.comment
                    div.comment-user
                        a(href="#" + comment.user_id) #{comment.name}
                        | &nbsp; / &nbsp;
                        em
                            = moment(post.post_date).format(" DD MMMM YYYY, dddd")
                        | &nbsp; / &nbsp;
                        b ##{comment.comment_id}
                        if (comment.user_id == userInfo.user_id || userInfo.role == 'admin')
                            | &nbsp;&nbsp;
                            span.label.label-danger.site-a-label
                                a(href="#myModal",
                                    rel="/delcomment/" + comment.comment_id,
                                    class="del-comment",
                                    title="Remove comment",
                                    data-toggle="modal") remove
                    div.comment-text
                        != filterComment(comment.text)

        h4 Add comment
        if (userInfo.auth == 1)
            form(method="post", action="/comment")
                input(type="hidden", name="post_id", value=post.blog_id)
                textarea(name="text", rows="7", cols="80", class="input-xxlarge")
                br
                button(type="submit", class="btn btn-default m-t10") Comment
        else
            div.p-t10 You have to login to add new comment
                div.m-b10
                span.h-list
                    a(href="/auth/facebook", title="facebook", class="social-icon-link")
                        i(class="icon-facebook-sign icon-2x")
                    a(href="/auth/twitter", title="twitter", class="social-icon-link")
                        i(class="icon-twitter-sign icon-2x")
                    a(href="/auth/github", title="github", class="social-icon-link")
                        i(class="icon-github icon-2x")

    <!-- Modal -->
    div.modal#myModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
                    h3.modal-title Confirmation
                div.modal-body
                    p Remove this comment?
                div.modal-footer
                    button.btn.btn-default(data-dismiss="modal") Cancel
                    a.btn.btn-danger(href="#", id="del-link") Remove

    script(type="text/javascript").
        $(".del-comment").click(function () {
            $("#del-link").prop('href', $(this).prop('rel'));
        });
